body {
    background-color: #acf;
    font-family: Lucida Sans, Verdana;
    font-size: 0.8em;
}
.title {
    text-align: center;
    font-size: 2em;
    padding-bottom:8px;
    padding-top:8px;
    border-bottom: 1px solid #aaa;
}
.container {
    width:600px;
    min-height:800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    background-color: #def;
    border-radius: 4px;
}
.menu {
    border-bottom: 1px solid #aaa;
    padding-left:8px;
}
.menu a {
    padding-left:8px;
    padding-right:8px;
    text-decoration: none;
    font-size: 1em;
    color: #555;
}
.menu a:hover {
    color: #678;
}
.content {
    margin: 8px 8px 8px 8px;
}